body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  width: 18px;
  color: red !important;
}

.fatherbutton {
  background-color: #cbcbcb !important;
  height: 8.4vh;
  width: 15%;
  margin-left: 20px;
  background: #c4c4c4;
  border-radius: 12px;
  border: 1px solid #555555;
  display: flex;
  justify-content: center;
  align-items: center;
}
